extends layout

block content
 .container-fluid
  section(class='hero-homepage')
   div(class='hero-body')
  div(class='row marketing')
   div(class='col-md-4')
    div(class='well')  
     h2 Mortgage Preapproval
     p Know exactly how much you can afford, even if you haven't found the perfect home yet.
   div(class='col-md-4')
    div(class='well')
     h2 Apply for a Loan
     p Use our convenient application for your loan now. We make the process easier.
     a(class='btn btn-success', href='/apply') Apply
   div(class='col-md-4')
    div(class='well')
     h2 Mortgate Information
     p We provide our customers with the absolute best mortgage programs.